.main {
  min-height: 100vh;
}

/* top bar */
.topbarWrapper {
  background-color: #E8F8FF;
}

.topbarWrapper p {
  color: #526F89;
  font-size: var(--font-15);
  font-weight: 400;
}


/* header */
.nav-link {
  color: var(--color-secondary) !important;
  font-weight: 500;
  font-size: var(--font-18) !important;
}

.navButton {
  background-color: var(--color-primary);
  border-radius: 3px;
  margin-right: 20px; 
  margin-left: 20px;  
}


/* hero */
.hero {
  background-image: url("../../public/layoutimg/herobg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
}

.hero .UpdatedTxt {
  background-color: #D3F4E4;
  width: max-content;
  border-radius: 50px;
  color: #42B57E;
  font-size: var(--font-18);
}

.hero h2 {
  color: var(--color-white);
  font-size: var(--font-72);
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif !important;
}

.hero h2 span {
  color: var(--color-primary);
  font-size: var(--font-72);
  font-weight: 700;
}

.hero p {
  color: var(--color-white);
  font-size: var(--font-18);
  font-weight: 300;
  line-height: 26px;
}

.hero button {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  text-transform: uppercase;
  border: solid 1px var(--color-primary);
  outline: none;
  font-size: var(--font-18);
  font-weight: 600;
  transition: color 0.5s ease-in, background-color 0.5s ease-in;
}

.hero button:hover {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

/* table */
.priceTable {
  background-color: var(--color-white);
  min-height: 80vh;
  padding: 100px;
}

.priceTable h3 {
  color: var(--color-secondary);
  font-family: 'Ubuntu', sans-serif !important;
  font-size: var(--font-42);
  font-weight: 700;
}

.priceTable p {
  color: var(--color-secondary);
  font-family: 'Ubuntu', sans-serif !important;
  font-size: var(--font-20);
  font-weight: 500;
}

@media screen and (max-width: 992px) {
  .priceTable {
    padding: 20px;
  }
}

/* services */
.services {
  background-color: #F8F8F8;
  min-height: 100vh;
  padding: 100px;
}

.leftCol h3 {
  color: var(--color-secondary);
  font-family: 'Ubuntu', sans-serif !important;
  font-size: var(--font-40);
  font-weight: 700;
}

.leftCol p {
  color: hsl(0, 0%, 47%);
  font-size: var(--font-18);
  font-weight: 400;
}

.leftCol span {
  color: var(--color-primary);
}

.spanRed {
  color: var(--color-dark-pink) !important;
  background-color: var(--color-light-pink);
  font-size: var(--font-18);
}

.spanGreen {
  color: var(--color-dark-green) !important;
  background-color: var(--color-light-green);
  font-size: var(--font-18);
}

/* .services button{
  font-size: var(--font-18);
  font-weight: 500;
  color: var(--color-secondary);
  background-color: var(--color-white);
  border: none;
  outline: none;
} */
.rightCol p {
  color: #797979;
  font-size: var(--font-18);
  font-weight: 400;
}

.rightCol h5 {
  font-family: var(--font-family-secondary);
  color: var(--color-secondary);
  font-size: var(--font-30);
  font-weight: 500;
}

.rightCol a {
  font-family: var(--font-family-secondary);
  color: var(--color-primary);
  font-size: var(--font-20);
  font-weight: 600;
}

.card1,
.card2,
.card3,
.card4,
.card5 {
  height: 18rem !important;
}

.card2 {
  min-width: 18rem;
}

.card2,
.card3,
.card4,
.card5 {
  position: absolute;
  bottom: 0;
}

.cardRow {
  min-height: 280px;
}

.card1 {
  margin-bottom: 50px;
}

.card2 {
  margin-top: 0px;
  margin-left: 20px;
  margin-right: -20px;
  margin-bottom: 20px;
}

.card3 {
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: -25px;
}

.card4 {
  margin-top: 100px;
  margin-right: -75px;
  margin-left: 50px;
  margin-bottom: -20px;
}

.card5 {
  margin-top: 20px;
  margin-bottom: -20px;
  margin-left: 60px;
  margin-right: -60px;
}

.cardicon {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 25px;
}

@media screen and (max-width: 992px) {
  .services {
    padding: 20px;
  }

  .cardicon {
    width: 90px;
    height: 90px;
  }

  .card1,
  .card2,
  .card3,
  .card4,
  .card5 {
    margin: 0 !important;
    position: relative;
    height: max-content !important;
    width: 100%;
  }

  .cardRow {
    height: max-content;
  }

  .services button {
    width: 100%;
  }

  .card2 {
    min-width: auto;
  }
  
}


/* table */
.tableStyles {
  border: none !important;
}

.buysellbtn {
  background-color: var(--color-primary);
  border: none;
  font-size: var(--font-18);
  border-radius: 4px;
  min-width: 100px;
  font-weight: 600;
  color: var(--color-secondary) !important;
}

.tableData {
  font-size: var(--font-18);
  font-weight: 600;
}

.tableImage {
  width: auto !important;
  height: 20px !important;
  float: left;
  padding-left: 30px;
}

.tableHeader {
  background-color: var(--color-secondary) !important;
  font-size: 14px;
  font-weight: 100 !important;
}

.tableHeaderCellPurple {
  background-color: var(--color-table-purple) !important;
}

.tableHeaderCellGreen {
  background-color: var(--color-table-green) !important;
}

.purpleData {
  color: #160422 !important;
  font-weight: 600;
  font-size: 18px;
}

.greenData {
  color: #2d4b30 !important;
  font-weight: 600;
  font-size: 18px;
}

.tableDataLight {
  background-color: #F8F8F8 !important;
}


/*agent services*/

.agentServicesBox{
  margin: 0;
  border-radius: 20px;
}
.agentServicesBox img{
  height: 80px;
  width: auto;
}
.agentServices {
  background-color: var(--color-white);
  min-height: 70vh;
  padding: 100px;
}


.agentServicesBtn {
  width: 300px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  text-transform: uppercase;
  border: solid 1px var(--color-primary);
  outline: none;
  font-size: var(--font-18);
  font-weight: 600;
  transition: color 0.5s ease-in, background-color 0.5s ease-in;
}

.agentServicesBtn:hover {
  color: var(--color-primary);
  background-color: transparent;
}
@media screen and (max-width: 992px){
  .agentServicesBtn{
    width: 300px;
  }
  .buttonWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .agentServicesBox img{
    height: 60px;
    width: auto;
  }
}


/* experience */
.experience {
  background-color: var(--color-secondary);
  min-height: 80vh;
  padding: 100px;
}

.leftImgWrapper img {
  width: 100% !important;
  height: auto !important;
}

.experience h3 {
  color: var(--color-white);
  font-family: 'Ubuntu', sans-serif !important;
  font-size: var(--font-40);
  font-weight: 700;
}

.experience p {
  color: #E0E0E0;
  font-size: var(--font-18);
  font-weight: 400;
}

.experience span {
  color: var(--color-primary);
}

.yearNumbers {
  color: var(--color-white);
  font-family: 'Ubuntu', sans-serif !important;
  font-size: 30px !important;
  font-weight: 600 !important;
}

.yearTxtWhite {
  color: var(--color-white) !important;
  font-size: var(--font-22) !important;
  font-weight: 400;
}

.yearTxt {
  color: var(--color-secondary) !important;
  font-size: var(--font-22) !important;
  font-weight: 400;
}

@media screen and (max-width: 992px) {
  .experience {
    padding: 20px;
  }
}



/* testimonials */
.testimonials {
  background-color: var(--color-white);
  min-height: 80vh;
  padding: 45px;
}

.testimonials h3 {
  color: var(--color-secondary);
  font-family: 'Ubuntu', sans-serif !important;
  font-size: var(--font-40);
  font-weight: 700;
}

.testimonials p {
  color: #797979;
  font-size: var(--font-18);
  font-weight: 400;
}

.testimonials span {
  color: var(--color-primary);
}

@media screen and (max-width: 992px) {
  .testimonials {
    padding: 20px;
  }
}


/* contact */
.contactForm {
  background-color: #F8F8F8;
  min-height: 80vh;
  padding: 100px;
}

.contactForm h3 {
  color: var(--color-secondary);
  font-family: 'Ubuntu', sans-serif !important;
  font-size: var(--font-40);
  font-weight: 700;
}

.FormContactUs {
  width: 60vw;
}

.FormContactUs label {
  color: var(--color-secondary);
  font-size: var(--font-18);
  font-weight: 700;
  margin-bottom: 10px;
}

.FormContactUs input,
.FormContactUs textarea {
  color: var(--color-secondary);
  font-size: var(--font-18);
  font-weight: 500;
  width: 100%;
  border: solid 1px #DADADA;
  background-color: var(--color-white);
  padding: 15px 20px;
  margin-bottom: 30px;
}

.FormContactUs input {
  border-radius: 50px;
}

.FormContactUs textarea {
  border-radius: 30px;
}

.FormContactUs input::placeholder,
.FormContactUs textarea::placeholder {
  color: #797979;
  font-weight: 300;
}

.FormContactUs button {
  background-color: var(--color-secondary);
  border: solid 1px var(--color-secondary);
  padding: 20px 49px 20px 49px;
  color: var(--color-white);
  font-size: var(--font-18);
  transition: color 0.5s ease-in, background-color 0.5s ease-in;
}

.FormContactUs button:hover {
  background-color: var(--color-white);
  color: var(--color-secondary);
}

@media screen and (max-width: 992px) {
  .contactForm {
    padding: 20px;
  }

  .FormContactUs {
    width: 100%;
  }

  .FormContactUs button {
    width: 100%;
  }
}




/* footer */
.footerWrap {
  background-color: var(--color-secondary);
  height: auto;
  width: 100vw;
  color: var(--color-white) !important;

}

.footerWrap hr {
  background-color: rgba(255, 255, 255, 0.30) !important;
  color: rgba(255, 255, 255, 0.30) !important;
}

.footerWrap h5,
.footerWrap p,
.footerWrap span,
.footerWrap a {
  font-family: var(--font-family-secondary) !important;
}

.footerWrap h5 {
  font-size: var(--font-28);
}

.footerWrap p,
.footerWrap span,
.footerWrap a {
  font-size: var(--font-20-footer);
}

.footerWrap a {
  text-decoration: none !important;
  color: var(--color-white);
  transition: color 0.5s ease-in;
}

.footerWrap a:hover {
  color: var(--color-primary);
}

.footerWrap span {
  color: var(--color-primary);
}

.testimonial2 {
  background: linear-gradient(181deg, rgba(255, 255, 255, 0.00) -30.29%, #F0FDFF 124.81%);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.testimonial1 {
  background: linear-gradient(180deg, #FFF4F8 -30.47%, rgba(255, 255, 255, 0.00) 154.12%);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.testiminialDesc {
  font-size: var(--font-18);
  font-weight: 400;
  color: var(--color-secondary) !important;
}

.testiminialName {
  font-size: var(--font-28) !important;
  color: var(--color-secondary) !important;
  font-weight: 700 !important;
}

.testiminialRole {
  font-size: var(--font-18) !important;
  color: var(--color-primary) !important;
  font-weight: 400 !important;
}

/* get help button */
.getHelpButton {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: transparent !important;
  border: none;
  outline: none;
  z-index: 999;
}

.getHelpButton p {
  color: var(--color-primary);
  font-size: var(--font-20);
  font-weight: 500;
  font-family: var(--font-family-secondary) !important;
  text-transform: none !important;
}



/* socialIconStyle */
.socialIconStyle {
  color: #fff;
  transition: color 0.5s ease-in;
}

.socialIconStyle:hover {
  color: var(--color-primary);
}

.flegImage {
  width: 55px;
  height: 55px;
  border-radius: 100%;
}

.flagBox {
  background-color: #F4F4F4;
}

.flagBox h3 {
  font-size: 16px;
  font-weight: 800;
  color: var(--color-secondary) !important;
  font-family: var(--font-family-secondary) !important;
}

.flagBackColor {
  background-color: linear-gradient(180deg, rgba(0, 0, 0, 0.36) 0%, rgba(0, 0, 0, 0.00) 100%);
  border-radius: 20px;
  border: 3px solid #FFF;
}

.currencyColBorder {
  border-right: solid 1px #6D6D70;

}

.yellowButton {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  text-transform: uppercase;
  border: solid 1px var(--color-primary);
  outline: none;
  font-size: var(--font-18);
  font-weight: 600;
  transition: color 0.5s ease-in, background-color 0.5s ease-in;
}

.yellowButton:hover {
  color: var(--color-primary);
  background-color: transparent;
}

.cryptoCard {
  transition: box-shadow 0.5s ease;
  background-color: #FEFEFE;
  border-radius: 12px !important;
  border: 1px solid #DFDFDF;
}

.cryptoCard p{
  font-size: var(--font-15-card) !important;
}
.cryptoCard h3{
  font-size: var(--font-28) !important;
  text-decoration: none !important;
}

.cryptoCard:hover {
  box-shadow: -7px 0px 50px 0px rgba(0, 0, 0, 0.24), 0px 4px 8.5px 0px rgba(0, 0, 0, 0.11);
}

.buyCol {
  background-color: rgba(144, 0, 249, 0.12);
  border-radius: 40px;
  
}

.sellCol {
  background-color: rgba(0, 249, 114, 0.12);
  border-radius: 40px;
}

.lastCol {
  background-color: #fff;
  border-radius: 12px !important;
}

.telBox {
  background-color: var(--color-secondary);
  color: #fff !important;
}

.buyCol, .sellCol{
  width: 100%;
}

.buyCol p {
  color: #363636;
  font-family: var(--font-family-secondary) !important;
  font-size: var(--font-22);
  font-weight: 700;
}

.buyCol h3 {
  color: #050505;
  font-family: var(--font-family-secondary) !important;
  font-size: var(--font-30);
  font-weight: 700;
}

.lastCol a {
  color: #363636;
  font-family: var(--font-family-secondary) !important;
  font-size: var(--font-18);
  font-weight: 700;
  text-decoration: none;
}
.logoImages{
  height: 90px !important;
  width: auto !important;
}


/*sidebar*/

.sidebar {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 1;
  background-image: url('/siderback.png');
  background-size: 260px 90px;
  background-repeat: no-repeat; 
  background-position: center center;
  
}

.sidebar.open {
  width: 30%;
}

.toggButton {
  font-size: 40px;
  cursor: pointer;
  position: fixed;
  top: 1px;
  right: 1px; 
  z-index: 2;
  color: grey;
  border-color: black;
  border-width: 10px;
  border-radius: 25%;
  
}



@media screen and (max-width: 599px) {
  .sidebar {
    padding-top: 15px;
    
  }
  .sidebar.open {
    width: 75%;
  }
}

@media screen and (min-width: 600px)  and (max-width: 991px) {
  .sidebar {
    padding-top: 15px;
    background-position: center center;
  }

  .sidebar.open {
    width: 40%;
  }
}

@media screen and (max-width: 992px) {
  .logoImages{
    width: auto !important;
    height: 45px !important;
  }
}